@{
    ViewBag.Title = "Contact";
}
<h2>LIÊN HỆ</h2>
<h3>@ViewBag.Message</h3>

<address>
    TP.Hồ Chí Minh<br />
    Quận, Đường Số Nhà<br />
    <abbr title="Phone">Điện thoại:</abbr>
    0123456789
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>

<address>
    Hoạt động 24/7
</address>