
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center; color:red; font-weight:bold">CHÀO MỪNG ĐẾN VỚI TRANG ADMIN</h2>
<div>
    @Html.ActionLink("QUAY LẠI TRANG WEB ONLINE", "Out", "Admin")
</div>

