@model DoAnWebBanDoChoi.Models.Loai

@{
    ViewBag.Title = "XoaLoai";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN BẠN MUỐN XÓA</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên loại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

    </dl>

</div>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("TRỞ VỀ", "Loai")
        </div>
    }
</div>

